{% extends "base.html" %}
{% load static %}

{% block title %}Home | Book A Tutor{% endblock %}

{% block content %}
<div class="text-center">
    <div class="hero-image">
        <h1 class="display-4 bold">Welcome to Book A Tutor</h1>

        {% if user.is_authenticated %}
          <a href="{% url 'tutors-list' %}" class="btn btn-primary btn-lg mt-3">Browse Tutors</a>
        {% else %}
          <a href="{% url 'account_signup' %}" class="btn btn-success btn-lg mt-3">Get Started</a>
        {% endif %}
    </div>
</div>
{% endblock %}
